extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset your password
      form#passwordResetForm.form
        .form__group
          label.form__label(for='password') New password
          input#password.form__input(type='password', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm New Password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••' name='password', autocomplete='on', required, minlength='5')
        .form__group
          button.btn.btn--green Execute